@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.cms-content h1 {
  padding: 0.2rem 0.4rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #e5ccff;
  border-left: solid 1px #e5ccff;
}

.cms-content h1::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: -0.7rem;
  width: 0.7rem;
  height: 1px;
  background-color: #e5ccff;
  margin-top: 0.5rem;
}

.cms-content h1::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.7rem;
  left: -1px;
  width: 1px;
  height: 0.7rem;
  background-color: #e5ccff;
  margin-top: 0.5rem;
}

.cms-content h2 {
  padding: 0.2rem 0.4rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #e5ccff;
  border-left: solid 1px #e5ccff;
}

.cms-content h2::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: -0.7rem;
  width: 0.7rem;
  height: 1px;
  background-color: #e5ccff;
  margin-top: 0.5rem;
}

.cms-content h2::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.7rem;
  left: -1px;
  width: 1px;
  height: 0.7rem;
  background-color: #e5ccff;
  margin-top: 0.5rem;
}

.cms-content h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1rem;
}

.cms-content h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.cms-content p {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #282a36;
}

.cms-content ul {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  list-style-type: square;
  background-color: #f9f4ff;
  border: solid 1px #e5ccff;
}

.cms-content ol {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  list-style-type: decimal;
  padding-left: 3rem;
}

.cms-content li {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.cms-content a {
  color: #3182ce;
  text-decoration: underline;
}

.cms-content a:hover {
  color: #2c5282;
}

.cms-content img {
  max-width: 100%;
  padding: 10px 10px;
  height: auto;
  margin: auto auto 1rem auto;
}

.cms-content blockquote {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 0.25rem solid #e2e8f0;
}

.cms-content code {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  background-color: #e2e8f0;
  white-space: pre-wrap;
}

.cms-content p code {
  white-space: pre-wrap; /* テキストを折り返し、空白と改行を保持 */
  max-width: 90vw;
}

.code-file-name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  padding: 0.4rem 1rem !important;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: #e2e8f0;
}

.cms-content pre {
  position: relative;
  z-index: 10;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: -0.25rem !important;
  margin-bottom: 1rem;
  padding: 1.2rem 1.2rem !important;
  padding-top: 1.6rem !important;
  overflow-x: auto;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
  background-color: black;
}

.cms-content pre code {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  margin-top: -0.5rem !important;
  margin-bottom: 1rem;
  padding: 0.2rem 0.4rem !important;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: #282a36;
}

.code-file-name {
  position: relative;
  z-index: 20;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  padding: 1rem 1rem;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: black;
}

.katex {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* モバイル用のレスポンシブデザイン */
@media (max-width: 640px) {
  .cms-content h1 {
    font-size: 1.4rem;
  }

  .cms-content h2 {
    font-size: 1.4rem;
  }

  .cms-content h3 {
    font-size: 1.2rem;
  }

  .cms-content h4 {
    font-size: 1.2rem;
  }

  .cms-content p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content ul {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content ol {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content li {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content a {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content img {
    padding: 10px 10px;
    height: auto;
    margin: auto auto 1rem auto;
  }

  .cms-content blockquote {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content code {
    font-size: 1rem;
    line-height: 2rem;
  }

  .cms-content pre {
    font-size: 0.6rem;
  }

  .cms-content pre code {
    font-size: 0.8rem;
  }

  .code-file-name {
    font-size: 1rem;
    line-height: 2rem;
  }

  .katex {
    font-size: 1rem;
    line-height: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
